* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
main {
	background-color: #F0EC73;
	height: 100vh;
	padding: 90px 0 0 0;
	text-align: center;
	overflow: hidden;
}
.saper__window {
	max-width: 360px;
	height: 440px;
	margin: 0 auto;
	padding: 0 20px;
	box-sizing: content-box;
}
.saper__top {
	width: 100%;
	height: 18%;
	background-color: #DDC35D;
	padding: 0 20px;
	display: flex;
	justify-content: space-evenly;
	flex-direction: column;
	font-weight: 600;
	border-radius: 10px 10px 0 0;
}
.saper__numbers {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}
.saper__control {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}
.saper__button-newGame,
.saper__button-startGame,
.saper__button-bombNumbers {
	border: none;
	border-radius: 5px;
	padding: 3px 5px;
	font-weight: 600;
	color: #000;
	background-color: #C53B3D;
}
.saper__button-bombNumbers {
	width: 81px;
}
.saper__field {
	width: 100%;
	height: 82%;
	background-color: #C53B3D;
	display: grid;
	grid-template-columns: repeat(9, 1fr);
	grid-template-rows: repeat(9, 1fr);
	justify-content: center;
	align-items: center;
	padding: 3px;
}
.saper__sq {
	width: 90%;
	height: 90%;
	background-color: #86213D;
	text-align: center;
	font-size: 24px;
	line-height: 1.4;
	border-radius: 4px;
	margin: 0 auto;
	transform: scale(-1, 1);
}
.saper__sq_back {
	background-color: transparent;
	transition: all 500ms ease 0s;
	transform: scale(1, 1);
}
.bomb {
	background: url(bomb.svg) center center / 70% 70% no-repeat;
}
.saper__sign {
	margin: 40px 0 0 0;
	font-size: 26px;
	font-weight: 600;
	color: #86213D;
}
@media (max-width: 400px) {
	.saper__window {
		height: 100vmin;
	}
	.saper__sq {
		line-height: 26px;
	}
}